/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  A  |  B  |  E  |  F  |
// |  C  |  D  |  G  |  H  |
                        bindings = <
   &kp A &kp B &kp E &kp F
   &kp C &kp D &kp G &kp H
                        >;
                };
        };
};
